ul {list-style-type: none;}
h1 {color: red; text-align: center;}
h2 {color: red;}
ol li {font-style: italic; }
img {float: right; margin: 12px; border: 2px solid red; padding: 4px; background-color: red;}
